<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/uno.css">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>

    <head>
        <title>One Word Journal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="jumbotron jumbotron-uno">
            <div class="container">
                <h1>One Word Journal</h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" id="username_textbox" placeholder="username">
                        <span class="input-group-btn">
                            <button class="btn positive" type="button" onclick="goToJournal();">Let's journal!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var jumbotron_colors = ['#37BC9B', '#8CC152','#F6BB42', '#E9573F', '#DA4453', '#D770AD', '#967ADC', '#4A89DC','#3BAFDA'];
            function transitionJumbotronColor (index) {
                d3.select('.jumbotron').transition().duration(2000).delay(2000).style('background-color', jumbotron_colors[index])
                        .each('end', function() { transitionJumbotronColor((index+1) % jumbotron_colors.length); });
            }

            var first_index = Math.floor(Math.random()*(jumbotron_colors.length-1));
            $('.jumbotron').css('background-color', jumbotron_colors[first_index]);
            transitionJumbotronColor((first_index+1) % jumbotron_colors.length);

            function goToJournal() {
                var username = $('#username_textbox').val();
                window.location.href = window.location.href + username;
            }
            $('#username_textbox').keyup(function(event){
                if(event.keyCode == 13){
                    goToJournal();
                }
            });
        </script>
    </body>

</html>